body{
    background-color:rgb(226, 165, 235);
}
ul{
     list-style-type: none;
    float: right;
    margin-top: 50px;
   
    
}
ul li{
    display: inline;
    margin : 0.5em;
    border: 0.2em solid black;
    padding: 3px 15px;
}

header{
    background-color: black;
 font-size: 1.5em;
    color: white;
}
.img{
    margin-left: 2em;
}
.right{
    display: flex;
    margin-top: 0.7em;
    margin: 2em;
    border: 0.2em solid black;
    background-color: antiquewhite;


}