body {
    background-image: linear-gradient(#73fff8, #000000);

}

header {
    background-image: linear-gradient(#333031, #708d8d);
    font-size: 1.5em;
    color: white;
    hight: 50px;
    text-decoration: none;
    border-radius: 10px;

}

ul li {
    display: inline;
    /* float: right; */
    margin: 1em;
    padding: 15px 8px;
    color: white;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    border-radius: 3px;
    background-color: rgb(141, 132, 132);
    border: 10px solid transparent;
    color: black;

}

ul {
    list-style-type: none;
    float: right;
    margin-top: 50px;
}

.img {
    margin-left: 2em;
}
.list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2em;
    cursor: pointer;
}
.first {
    
    /* border: 3px solid white; */
    padding: 0.5em;
    margin-top: 1em;
}

.first :hover {
    background-color: rgb(42, 40, 44);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.list :hover {
    background-color: rgb(51, 45, 45);
    color: rgb(255, 255, 255);
}

.btn {
    float: right;
    padding: 10px 15px;
    background-color: rgb(51, 41, 41);
    color: rgb(70, 40, 40);
    /* border: solid transparent; */
    border-radius: 30px;
    transition: .4s;
    margin-top: 1em;
    /* border: 1px black; */
}
.btn a{
    color: white;
    text-decoration: none;
}

.btn:hover {
    transform: scale(1.3);
    padding: 10px 15px;
    background-color: red;
    color: white;
    font-weight: bolder;
    border: solid transparent;
    border-radius: 30px;
    /* border: 1px solid black; */
}
h1{
    margin-left: 1.7em;
    color: rgb(241, 62, 116);
}
h1:hover{
    color: red;
    background-color: black;
}
h3 {
    color: rgb(212, 192, 192);
    /* width: 100px; */
    /* float: right; */
    display: inline-block;
    cursor: pointer;
    margin-left: 2em;
}

.pic {
    /* background-color: black; */
    margin: 20px 20px 0px 20px;
    padding: 1em;
    /* padding-top: 3em; */
    /* border-radius: 20px; */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: rgb(51, 45, 45);
}

.pic :hover {
    cursor: pointer;
    transform: scale(1.2);
    padding: 1em;

}
span{
    border: 1px solid white;
}
p{
margin-left: 3em;
}

